node_modules/*
!node_modules/iotagent-node-lib/

node_modules/iotagent-node-lib/*
!node_modules/iotagent-node-lib/lib/

node_modules/iotagent-node-lib/lib/*
!node_modules/iotagent-node-lib/lib/services/
node_modules/iotagent-node-lib/lib/services/*
!node_modules/iotagent-node-lib/lib/services/ngsi/

/.idea/
/doc/
/coverage/
/.nyc_output/
/site
/report/
/.c9revisions/
/.settings/

.settings
.classpath
.project
.metadata
npm-debug.log
.eslintcache

